ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #ffff;
    border: 1px solid #555;
}

li {
    float: left;   
}

li a {
    text-decoration: none;
    display:block;
    text-align: center;
    padding: 10px;
}

.flex-container {
    display: flex;    
}

.flex-container li:not(:last-child) {
    border-right: 1px solid #555;
}

.about {
    color: #FFDA19;
}

.skills {
    color: #FF00BC;
}

.portfolio {
    color: #14CCCB;
}

.contact {
    color: #059EFF;
}

.paragraph {
    background-color: #FFDA19;
}

#skills > div {
    height: 100px;
    width: 100px;
    display: inline-block;
    
}
.pink {
    background-color: #FF00BC;
}

.red {
    background-color: #FF0033;
}

.purple {
    background-color: #990099;
}

.black {
    background-color: #000000;
}

#portfolio > div {
    height: 100px;
    width: 100px;
    display: block;
    margin: 5px;
}
.light-green {
    border: 5px solid #A3E4D7;
}

.green {
    border: 5px solid #1ABC9C;
}

.dark-green {
     border: 5px solid #117864;
}

input[type=submit] {
    width: 115px;
    height: 19px;
    background-color: #059EFF;
    color: white;
}